<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AnalysisServices.SPClient.Interfaces" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.21.0.0" newVersion="19.21.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="BlobStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=marossistorageaccount;AccountKey=+8l722t2mB4Dj11gv9yKLRX9k5ucW1CLsXrM0tbg0xkFAgx6BeWpWCCub2etTXN0bQKhTzxeXTJf3DsN3KgVrA==;EndpointSuffix=core.windows.net" />
    <add name="ConnectionString" connectionString="DataSource=powerbi://api.powerbi.com/v1.0/myorg/PowerBIEmbeddedGEN2Dev;Initial catalog=AdventureWorks2019;User ID=app:66992672-b806-4865-b36d-3d3fe38219e1@83e61338-908e-44bd-b566-30ff543bd5c5;Password=~mcY15.HAplA~73u2m2-s1-uexWmW0HQfZ" />
  </connectionStrings>
  <appSettings>
    <add key="source" value="C:\Temp" />
    <add key="dest" value="powerbiexporteddata" />
  </appSettings>
</configuration>
